@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  -webkit-user-drag: none;
  font-weight: 600;
}

html {
  height: 100%;
  background-color: whitesmoke;
  color: black;
}
